<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".OeffiTrackerApp"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.OeffiTracker">

        <activity
            android:name=".ui.main.MainActivity"
            android:exported="true"
            android:label="@string/app_name">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name=".ui.trip.list.search.TripSearchActivity"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".ui.trip.create.CreateTripActivity"
            android:label="@string/toolbar_title_create_trip"
            android:windowSoftInputMode="adjustPan"/>

        <activity
            android:name=".ui.ticket.create.CreateTicketActivity"
            android:label="@string/toolbar_title_create_ticket"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".ui.settings.SettingsActivity"
            android:label="@string/toolbar_title_settings"
            android:windowSoftInputMode="adjustPan"/>

    </application>

</manifest>